<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SINGLESALE" value="^(\w+)\s+at\s+(\d+(\.\d+)?)[pP]$"/>
		<add key="MULTIPLESALE" value="^(\d+) sales of (\w+) at (\d+(\.\d+)?)p each$"/>
		<add key="ADJUSTMENT" value="^(\w+) (\d+(\.\d+)?)p (\w+)$"/>
		<add key="SalesDecimal" value="5"/>
	</appSettings>
</configuration>